
<% for i in 0...@ol.count do %>
	<p><%=@ol[i].roster%></p>
<% end %>


<% for i in 0...@lineups.count do 
	for j in 0...@lineups[i].roster.count do %>
	<p><%=@lineups[i].roster[j].position%>: <%=@lineups[i].roster[j].name%></p>
		<ul>
			<li>$<%=@lineups[i].roster[j].price%></li>
			<li>Scores: <%=@lineups[i].roster[j].min_score%>, <%=@lineups[i].roster[j].avg_score%>, <%=@lineups[i].roster[j].max_score%></li>
		</ul>
	<% end %>
	<p>Price: $<%=@lineups[i].price%></p>
	<p>Min Score: <%=@lineups[i].min_score%></p>
	<p>Max Score: <%=@lineups[i].max_score%></p>
	<p>Estimated Score: <%=@lineups[i].avg_score%></p>
	<br>
<% end %>

<div id="container">
	<div id="avg-lineups">	
	</div>
	<div id="high-lineups">	
	</div>
	<div id="low-lineups">	
	</div>
</div>
