<div id="container" class="row">
	<div id="avg-lineups" class="small-12 columns lineup-group">
		<h2>Best Overall Lineups</h2>
		<div class="row">
		<%for i in 0...6 do %>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup <%=i+1%></h5>
				<ul>
				<% for j in 0...@ol[i].roster.count do%>
					<li><%=@ol[i].roster[j].position%>: <%=@ol[i].roster[j].name%></li>
				<%end%>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Average Score: <%=@ol[i].avg_score.floor%></li>
					<li>High Score: <%=@ol[i].max_score.floor%></li>
					<li>Low Score: <%=@ol[i].min_score.floor%></li>
				</ul>
				<h5>Total Budget</h5>
				<p>$<%=@ol[i].price%></p>
			</div>
		<%end%>
		</div>
	</div>
	<div id="high-lineups" class="small-12 columns lineup-group">
		<h2>Highest Ceiling Lineups</h2>
		<div class="row">
			<%for i in 0...6 do %>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup <%=i+1%></h5>
				<ul>
				<% for j in 0...@rl[i].roster.count do%>
					<li><%=@rl[i].roster[j].position%>: <%=@rl[i].roster[j].name%></li>
				<%end%>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Average Score: <%=@rl[i].avg_score.floor%></li>
					<li>High Score: <%=@rl[i].max_score.floor%></li>
					<li>Low Score: <%=@rl[i].min_score.floor%></li>
				</ul>
				<h5>Total Budget</h5>
				<p>$<%=@rl[i].price%></p>
			</div>
		<%end%>
		</div>
	</div>
	<div id="low-lineups" class="small-12 columns lineup-group">	
		<h2>Lowest Risk Lineups</h2>
		<div class="row">
			<%for i in 0...6 do %>
			<div class="small-6 medium-4 large-2 columns lineup">
				<h5>Lineup <%=i+1%></h5>
				<ul>
				<% for j in 0...@sl[i].roster.count do%>
					<li><%=@sl[i].roster[j].position%>: <%=@sl[i].roster[j].name%></li>
				<%end%>
				</ul>
				<h5>Scores</h5>
				<ul>
					<li>Average Score: <%=@sl[i].avg_score.floor%></li>
					<li>High Score: <%=@sl[i].max_score.floor%></li>
					<li>Low Score: <%=@sl[i].min_score.floor%></li>
				</ul>
				<h5>Total Budget</h5>
				<p>$<%=@sl[i].price%></p>
			</div>
		<%end%>
		</div>
	</div>
</div>